<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
    </header>
    <div class="details">
        <p class="concept">
            <div data-edit="data.details.concept" contenteditable="true">
                {{data.details.concept}}
            </div>
        </p>
        <p class="sourcesOfStability">
            <div data-edit="data.details.sourcesOfStability" contenteditable="true">
                {{data.details.sourcesOfStability}}
            </div>
        </p>
    </div>
    <div class="abilites"> 
        
    </div>

    <p>"hello"</p>
</form>